<title id="pageTitle">About | STYLATTE</title>

<!-- 企業理念 -->
<div class="ui grid">
  <div class="two column row">
    <div class="column"><%= link_to image_tag("stylatte_50.png", alt: "STYLATTE"), root_path %></div>
    <div class="column"><h4 class="ui header">Our identity</h4>
    <p>Te eum doming eirmod, nominati pertinacia argumentum ad his. Ex eam alia facete scriptorem, est autem aliquip detraxit at. Usu ocurreret referrentur at, cu epicurei appellantur vix. Cum ea laoreet recteque electram, eos choro alterum definiebas in. Vim dolorum definiebas an. Mei ex natum rebum iisque.</p>
     <p>Audiam quaerendum eu sea, pro omittam definiebas ex. Te est latine definitiones. Quot wisi nulla ex duo. Vis sint solet expetenda ne, his te phaedrum referrentur consectetuer. Id vix fabulas oporteat, ei quo vide phaedrum, vim vivendum maiestatis in.</p>
     <p>Eu quo homero blandit intellegebat. Incorrupte consequuntur mei id. Mei ut facer dolores adolescens, no illum aperiri quo, usu odio brute at. Qui te porro electram, ea dico facete utroque quo. Populo quodsi te eam, wisi everti eos ex, eum elitr altera utamur at. Quodsi convenire mnesarchum eu per, quas minimum postulant per id.</p>
    </div>
  </div>
  <div class="eight column row">
    <div class="column"></div>
    <div class="column"></div>
    <div class="column"></div>
    <div class="column"></div>
    <div class="column"></div>
    <div class="column"></div>
    <div class="column"></div>
    <div class="column"></div>
  </div>
</div>

<!-- プロフィール -->
<h4 class="ui horizontal divider header">
  <i class="home icon"></i>
  Profile
</h4>


<table class="ui definition table">
  <tbody>
    <tr>
      <td class="two wide column">Company Name</td>
      <td>Stylatte, LLC</td>
    </tr>
    <tr>
      <td>Office</td>
      <td>
        <div class="item">
          <i class="marker icon"></i>1063 Kimiidera Wakayama, Japan
        </div>
      </td>
    </tr>
    <tr>
      <td>SNS</td>
      <td>
        <i class="facebook icon"></i><a href="https://www.facebook.com/Liebery-186139138458815/" target="_blank">Facebook</a>
        <i class="twitter icon"></i><a href="https://www.facebook.com/Stylatte-335151873516229/about/" target="_blank">Twitter</a>
      </td>
    </tr>
    <tr>
      <td>URL</td>
      <td>
        <div class="ui list">

  <div class="item">
    <i class="linkify icon"></i>
    <div class="content">
      <a href="http://www.stylatte.com/about">http://www.stylatte.com/about</a>
    </div>
  </div>
</div>
</td>
    </tr>
    <tr>
      <td>Contact Us</td>
      <td>
        <div class="item">
          <i class="mail icon"></i><a href="mailto:info@stylatte.com">info@stylatte.com</a>
        </div>
      </td>
    </tr>
  </tbody>
</table>

<!-- この画像の１行をリスポンシブにすること。 -->
<div class="ui grid">
  <div class="three column row">
    <div class="column"></div>
    <div class="iframe-wrapper">
      <iframe width="560" height="315" src="https://docs.google.com/spreadsheets/d/1RwdsHfO99no-umGdbZnkqlN-Qp1YdWfQuzoJrJaDe44/pubchart?oid=270929335&amp;format=image" frameborder="0" class="iframe"></iframe>
    </div>
    <div class="column"></div>
  </div>
  <div class="eight column row">
    <div class="column">Wakayama Office: </div>
    <div class="column"></div>
    <div class="column"></div>
    <div class="column"></div>
    <div class="column"></div>
    <div class="column"></div>
    <div class="column"></div>
    <div class="column"></div>
  </div>
</div>





<!-- チーム紹介と求人 -->
<h4 class="ui horizontal divider header">
  <i class="users icon"></i>
  Team
</h4>

<div class="ui horizontal list">
  <div class="item">
    <img class="ui avatar image" src="face5.jpg">
    <div class="content">
      <div class="header">Yoshie Maeda</div>
      Founder, CEO
    </div>
  </div>
</div>
<p>Yoshie Maeda (@kevin) is the CEO and founder of Stylatte, a community of more than 500 million who capture and share the world's moments on the service. He is responsible for the company's overall vision and strategy as well as day-to-day operations.Since the beginning, Kevin has focused on simplicity and inspiring creativity through solving problems with thoughtful product design. As a result, Instagram has become the home for visual storytelling for everyone from celebrities, newsrooms and brands, to teens, musicians and anyone with a creative passion.

Prior to founding Instagram, Kevin was part of the startup Odeo, which later became Twitter, and spent two years at Google working on products like Gmail and Google Reader. He graduated from Stanford University with a BS in Management Science and Engineering and serves on the boards of Walmart and KCRW.</p>

<div class="ui horizontal list">
  <div class="item">
    <img class="ui avatar image" src="face5.jpg">
    <div class="content">
      <div class="header">Christian Rocha</div>
      Admin
    </div>
  </div>
</div>

<!-- We are hiring-->
<h4 class="ui horizontal divider header">
</h4>
<div class="ui grid">
  <div class="three column row">
    <div class="column">+81 (0)50 3748 2254<br>hr@stylatte.com<br>(Yoshie Maeda)</div>
    <div class="column"><%= link_to image_tag("Job_tickets.png", alt: "JobTickets"), root_path %></div>
    <div class="column"></div>
  </div>
</div>


<!-- ニュース -->
<h4 class="ui horizontal divider header">
  News
</h4>

Our News are on
<i class="facebook blue icon"></i><a href="https://www.facebook.com/Stylatte-335151873516229/" target="_blank">Facebook</a>
<i class="twitter blue icon"></i><a href="https://twitter.com/stylatte2016" target="_blank">Twitter</a><br>

</table>

<!-- プレス記録とプレスの方向け案内 -->
<h4 class="ui horizontal divider header">
  Press
</h4>
<div class="ui grid">
  <div class="three column row">
    <div class="column">+81 (0)50 3748 2254<br>press@stylatte.com<br>(Yoshie Maeda)</div>
    <div class="column"></div>
    <div class="column"></div>
  </div>
</div>


<!-- 投資家向け案内 -->
<h4 class="ui horizontal divider header">
  Investment
</h4>
<div class="three column row">
  <div class="column">+81 (0)50 3748 2254<br>investor@stylatte.com<br>(Yoshie Maeda)</div>
  <div class="column"></div>
  <div class="column"></div>
</div>
<p>Our company's annual reports are <a href="https://www.facebook.com/Stylatte-335151873516229/" target="_blank">HERE</a>.</p>





<!-- 管理者への入り口 -->
<h4 class="ui horizontal divider header">
  **** ADMIN ONLY******
</h4>
<div class="ui inverted link list">
  <button class="ui red basic button"><%= link_to "Admin", admin_path %></button>
</div>


<!-- +......NOTE.....+
プレスセンター

当店をご訪問いただき誠にありがとうございます。
当店ではプレスセンターを設けて、マスコミ関係各社様からのお問い合わせやご要望にいつでも対応させていただいております。

プレスセンターのご案内

株式会社クラシコム （北欧、暮らしの道具店の運営会社）

プレス対応担当　　　　：筒井（ツツイ）
お電話でのお問い合わせ：042-577-0486
メールでのお問い合わせ：press@kurashicom.jp

ご要望はどのようなものでしょうか？

以下から該当するものをお探し下さい。
（もし以下に含まれない場合は、別途お問い合わせ下さい）

Q:雑誌や書籍等の製作に使用するスタイリングのための商品貸し出しについて

A: 当店の都合により、現在は、商品のお貸し出しを一旦休止している状況にございます。
（2013年10月より）

Q:「北欧、暮らしの道具店」やクラシコムという会社について取材したい

A: 私達のお店や会社に興味をもっていただき、とても嬉しく思います。
媒体や特集内容、また掲載のスタイルによっては検討をさせていただく場合がございますが、
まずは、お電話やメールにてお気軽にお問い合わせ下さい。

Q:講演依頼について

A: 大変ありがたいお申し出に、感謝いたします。
担当者の状況や当店のスケジュールによっては検討をさせていただく場合がございますが、
まずは、お電話やメールにてお気軽にお問い合わせ下さい。

Q:過去のメディア掲載履歴について知りたい

A: 過去のメディア掲載履歴については、以下のリンクからご覧いただけます。
メディア掲載履歴

お問い合わせーーーーーーーーーーーーーーーーーーーーーー
■お問い合わせについて

以下によくあるご質問と回答内容の一覧を
ご用意しております！

もしかするとお客様のお尋ねになりたいことが、
その中に含まれているかもしれませんので、
当店までお問い合わせいただく前に
一度、青いボタンの下にある
「よくあるお問い合わせ Q&A」
の各項目をご覧いただくことを
お勧めいたします。

もし、それでも解決しない場合は
お気軽にお問い合わせください。
できるかぎり迅速に回答させていただきます。
+...........+-->
