<% provide(:title, "Help") %>　　

<!-- Folder; static_pages, File; help.en.html.erb -->　

<!--............Copyright.................　　
Copyright 2016, Stylatte.
.....................-->

<!--*******SUMARRY OF THIS FILE***************

[1]
[2]

**************************-->


<h1>FAQ</h1>
<!-- Introduce steps -->
<div class="ui vertical stripe intro segment">


<!-- For STYLED -->

  <div class="ui stackable very relaxed center aligned grid container">
      <div class="twelve wide column">
        <h1 class="ui header">STYLED </h1>
        <p><b>Get</b> Styling!   <em>STYLED</em></p>
      </div>

      <div class="ui ordered steps">

        <div class="step">
          <i class="yellow user icon"></i>
          <div class="content">
            <div class="title">Make account</div>
            <div class="description">Choose your shipping options</div>
          </div>
        </div>
        <div class="step">
          <i class="share icon"></i>
          <div class="content">
            <div class="title">Post</div>
            <div class="description">for asking new style.</div>
          </div>
        </div>
        <div class="step">
          <i class="idea icon"></i>
          <div class="content">
            <div class="title">Wait</div>
            <div class="description">until new stylings arrive.</div>
          </div>
        </div>

      </div>
  </div>

<!--For  STYLIST -->
  <div class="ui stackable very relaxed center aligned grid container">
      <div class="twelve wide column">
        <h1 class="ui header">STYLING</h1>
        <p><b>Give</b> Styling!    <em>STYLING</em></p>
      </div>


      <div class="ui ordered steps">
        <div class="step">
          <i class="yellow user icon"></i>
          <div class="content">
            <div class="title">Make account</div>
            <div class="description">Choose your shipping options</div>
          </div>
        </div>
        <div class="step">
          <i class="users icon"></i>
          <div class="content">
            <div class="title">Find users</div>
            <div class="description">who're waiting styling </div>
          </div>
        </div>
        <div class="link step">
          <i class="star icon"></i>
          <div class="content">
            <div class="title">Suppose</div>
            <div class="description">styling and get stars.</div>
          </div>
        </div>
      </div>
  </div>

</div>

<!-- ５ 必ずulは入れること（custom.cssにて操作）-->
<div class="acodmenu">
    <label for="Panel1">
      <div class="active title">
        <i class="dropdown icon"></i>
        Is it free?
      </div>
    </label>
    <input type="checkbox" id="Panel1" class="on-off" />
    <ul>
        <p>提案を受ける側、提案する側のユーザーともに無料です。（ただし、一部提案する側のユーザーが応用機能を利用したい場合、有料機能もあります。詳しくは、Stylistになるページをご覧ください。）
</p>
    </ul>
    <label for="Panel12">
      <div class="title">
        <i class="dropdown icon"></i>
        広告をのせてもらうことはできますか？
      </div>
    </label>
    <input type="checkbox" id="Panel12" class="on-off" />
    <ul>
        <li><p>こちらの広告募集ページをご覧ください。</p><a href="">リンク2</a></li>
        <li><a href="">リンク</a></li>
        <li><a href="">リンク</a></li>
        <li><a href="">リンク</a></li>
        <li><a href="">リンク</a></li>
    </ul>
</div>


<!-- +......NOTE.....+




+ユーザー名は公開される？
+ユーザー分けたければ・・・A. 自分でもう一つ作ってもらう。
+コメントは、時代とともに変わっていくから、１年でデータ削除されるようにする。もし必要なら、通知をして、長期保存にしたければ、「Note」（スタイリスト側）か「お気に入り」（ユーザー側）に保存してもらうようにする。
+コメントは常に他のユーザーには見られないと書いておく。
+アップロードできる写真の形式とサイズは？
+privateかpublicの設定について

+...........+-->
