<% provide(:title, "Privacy Policy") %>　　

<!-- Folder; static_pages, File; policy.en.html.erb -->　

<!--............Copyright.................
Copyright 2016, Stylatte.
.....................-->

<!--*******SUMARRY OF THIS FILE***************

[1]
[2]

**************************-->






<div class="ui segment">

    <h3>
    GitHub Privacy Statement
    Effective date: September 8, 2016
    </h3>
  <div class="ui fitted divider"></div>
<p>
  Privacy Policy

  </p>


</div>



 Contact a human


 <!-- +....NOTE.....+

 +

 +........+-->
