<div class="flexbox">
  <div class="plan-table plan-free">
    <table>
      <tr><th>無料プラン</th></tr>
      <tr><td class="plan-price">無料</td></tr>
      <tr><td>Liveレッスン視聴</td></tr>
      <tr><td>無料イベント参加</td></tr>
      <tr><td>お知らせニュースレター購読</td></tr>
    </table>
    <div class="wrapper">
      <a href="#" class="fancy-button bg-gradient2"><span><i class="fa fa-envelope"></i>Messages</span></a>
    </div>
  </div>

  <div class="plan-table plan-premium">
    <table>
      <tr><th>プレミアムプラン</th></tr>
      <tr><td class="plan-price">3,000<span> 円／月</span></td></tr>
      <tr><td>Liveレッスン視聴</td></tr>
      <tr><td>全イベント参加</td></tr>
      <tr><td>お知らせニュースレター購読</td></tr>
      <tr><td>テキストダウンロード可</td></tr>
      <tr><td>字幕表示</td></tr>
    </table>
    <div class="wrapper">
     <a href="#" class="fancy-button bg-gradient1"><span><i class="fa fa-wheelchair-alt"></i>Follow Me</span></a>
    </div>
  </div>

  <div class="plan-table plan-premium">
    <table>
      <tr><th>プレミアムプラン</th></tr>
      <tr><td class="plan-price">3,000<span> 円／月</span></td></tr>
      <tr><td>Liveレッスン視聴</td></tr>
      <tr><td>全イベント参加</td></tr>
      <tr><td>お知らせニュースレター購読</td></tr>
      <tr><td>テキストダウンロード可</td></tr>
      <tr><td>字幕表示</td></tr>
    </table>
    <div class="wrapper">
     <a href="#" class="fancy-button pop-onhover bg-gradient3"><span>Share Channel</span></a>
    </div>
  </div>

  <div class="plan-table plan-free">
    <table>
      <tr><th>無料プラン</th></tr>
      <tr><td class="plan-price">無料</td></tr>
      <tr><td>Liveレッスン視聴</td></tr>
      <tr><td>無料イベント参加</td></tr>
      <tr><td>お知らせニュースレター購読</td></tr>
    </table>
    <div class="wrapper">
      <a href="#" class="fancy-button pop-onhover bg-gradient1"><span>Post A Comment</span></a>
    </div>
  </div>
<i class="material-icons">star-rate</i>
</div>
