<% provide(:title, "Stylist status") %>
<!-- Folder; static_pages, File; home.en.html.erb -->

<!--............Copyright.................
Copyright 2016, Stylatte.
.....................-->

<!--*******SUMARRY OF THIS FILE***************
* Header

* Login
  [1] Before Login
  [2] After Login (to Edit Profile action)
  [3]After Login and alreadt stylist. (update stylist status action)

* FAQ

* Contact us
**************************-->

<!--** Header ** -->
  <div class="ui stackable very relaxed center aligned grid container">
      <div class="column">
        <h1 class="ui header">Your idea may help someone.</h1>
        <!-- Easy Explanation -->
        <div class="ui basic segment">
          <p>You need to make account first, and go to edit profile page, and check stylist.</p>
        </div>
        <p>STEPS FOR STYLING</p>
      </div>
  </div>


<!-- ** Login ** -->

<!--[1] Before Login (to Login action) -->
<% unless logged_in? %>
  <!-- steps -->
  <h2>Steps for styling</h2>
  <div class="ui center aligned container">
        <div class="ui ordered steps">
          <div class="link step">
            <i class="yellow user icon"></i>
            <div class="content">
              <div class="title">Make account</div>
              <div class="description">check "stylist" on Edit page.</div>
            </div>
          </div>
          <div class="step">
            <i class="users icon"></i>
            <div class="content">
              <div class="title">Find users</div>
              <div class="description">who're waiting styling </div>
            </div>
          </div>
          <div class="link step">
            <i class="star icon"></i>
            <div class="content">
              <div class="title">Suppose</div>
              <div class="description">styling and get stars.</div>
            </div>
          </div>
        </div>
  </div>

  <table class="ui definition table">
    <thead>
      <tr>
        <th></th>
      <th>Stylist</th>
      <th>Stylist PLUS</th>
      <th>Stylist Premium</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Price</td>
        <td>Free $0</td>
        <td>$10/month</td>
        <td>$50/month</td>
      </tr>
      <tr>
        <td>Definition</td>
        <td>a</td>
        <td>2B</td>
        <td>2B</td>
      </tr>
      <tr>
        <td>Suppose To Users</td>
        <td>Possible</td>
        <td>Possible</td>
        <td>Possible</td>
      </tr>
      <tr>
        <td>Search Customers</td>
        <td>-</td>
        <td>Can search by multiple conditions</td>
        <td>Can search by all conditions</td>
      </tr>
      <tr>
        <td>Marketing Analysis</td>
        <td>-</td>
        <td>-</td>
        <td>You can use </td>
      </tr>
      <tr>
        <td>PURCHASE</td>
        <td><button class="ui green basic button"><%= link_to "Log in", login_path %></button></td>
        <td><div class="ui button">BUY</div></td>
        <td><div class="ui button">BUY</div></td>
      </tr>
    </tbody>
  </table>

<% end %>

<!-- [2]After Login (to Edit Profile action) -->
<% if logged_in? %>
  <h3 class="ui header">Why don't you suppose?</h3>
  <div class="ui segment">Now All course are free!!</div>


  <table class="ui definition table">
    <thead>
      <tr>
        <th></th>
      <th>Stylist</th>
      <th>Stylist PLUS</th>
      <th>Stylist Premium</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Price</td>
        <td>Free $0</td>
        <td>$10/month</td>
        <td>$50/month</td>
      </tr>
      <tr>
        <td>Definition</td>
        <td>a</td>
        <td>2B</td>
        <td>2B</td>
      </tr>
      <tr>
        <td>Suppose To Users</td>
        <td>Possible</td>
        <td>Possible</td>
        <td>Possible</td>
      </tr>
      <tr>
        <td>Search Customers</td>
        <td>-</td>
        <td>Can search by multiple conditions</td>
        <td>Can search by all conditions</td>
      </tr>
      <tr>
        <td>Marketing Analysis</td>
        <td>-</td>
        <td>-</td>
        <td>You can use </td>
      </tr>
      <tr>
        <td>PURCHASE</td>
        <td><div class="ui button">BUY</div></td>
        <td><div class="ui button">BUY</div></td>
        <td><div class="ui button">BUY</div></td>
      </tr>
    </tbody>
  </table>
<% end %>

<!-- [3]After Login and alreadt stylist. (update stylist status action) -->
<% if logged_in? && current_user.stylist? %>

<% end %>



<!--**  FAQ ** -->
  <h2>FAQ</h2>
    <h5 class="ui top attached header">
      For free what can I do?
    </h5>
  <div class="ui attached segment">
    <p>Dogs are one type of animal</p>
  </div>

    <h5 class="ui attached header">
      What is the payment method?
    </h5>
  <div class="ui attached segment">
    <p>Cats are thought of as being related to dogs, but only humans think this.</p>
  </div>

    <h5 class="ui attached header">
      Can I change the course in the same month?
    </h5>
  <div class="ui attached segment">
    <p>Humans don't think of lions as being like cats, but they are.</p>
  </div>
    <h5 class="ui attached header">
      What is the marketing analysis system?
    </h5>
  <div class="ui attached segment">
    <p>Humans don't think of lions as being like cats, but they are.</p>
  </div>




<!--** Contact us **-->
<h2>Need more info? contact us.</h2>
<p>There is the way for company to promote your own brands items!</p>



<!-- +......NOTE.....+

pricelist (from http://wegraphics.net/downloads/free-responsive-pricing-table/)

<section id="pricePlans">
		<ul id="plans">
			<li class="plan">
				<ul class="planContainer">
					<li class="title"><h2>Stylist</h2></li>
					<li class="price"><p>Free</p></li>
					<li>
						<ul class="options">
							<li>2x <span>option 1</span></li>
							<li>Free <span>option 2</span></li>
							<li>Unlimited <span>option 3</span></li>
							<li>Unlimited <span>option 4</span></li>
							<li>1x <span>option 5</span></li>
						</ul>
					</li>
					<li class="button"><a href="#">Purchase</a></li>
				</ul>
			</li>

			<li class="plan">
				<ul class="planContainer">
					<li class="title"><h2 class="bestPlanTitle">Stylist-Plus</h2></li>
					<li class="price"><p class="bestPlanPrice">$20/month</p></li>
					<li>
						<ul class="options">
							<li>2x <span>option 1</span></li>
							<li>Free <span>option 2</span></li>
							<li>Unlimited <span>option 3</span></li>
							<li>Unlimited <span>option 4</span></li>
							<li>1x <span>option 5</span></li>
						</ul>
					</li>
					<li class="button"><a class="bestPlanButton" href="#">Purchase</a></li>
				</ul>
			</li>

			<li class="plan">
				<ul class="planContainer">
					<li class="title"><h2>Stylist-Premium</h2></li>
					<li class="price"><p>$30/<span>month</span></p></li>
					<li>
						<ul class="options">
							<li>2x <span>option 1</span></li>
							<li>Free <span>option 2</span></li>
							<li>Unlimited <span>option 3</span></li>
							<li>Unlimited <span>option 4</span></li>
							<li>1x <span>option 5</span></li>
						</ul>
					</li>
					<li class="button"><a href="#">Purchase</a></li>
				</ul>
			</li>
		</ul>
    <div id="credits">by <a href="http://wegraphics.net/">WeGraphics</a></div>
	</section>



+...........+-->
