<!-- semanticUIのトップページのヘッダー真似したがうまく動いていない。 -->
<div class="ui container">

    <div class="introduction">
      <%= link_to image_tag("stylatte_logo_7.png", alt: "STYLATTE"), root_path %>
      <h1 class="ui header">
        <span class="library">
          STYLATTE
        </span>
        <span class="tagline">
          Your idea may help someone.
        </span>
      </h1>
      <div class="ui hidden divider"></div>

      <a href="/introduction/getting-started.html" class="ui huge inverted download button">
        Get Started
      </a>

      <a href="/introduction/new.html" class="ui huge inverted basic button">New in 2.2 - June 2016</a>

    </div>

    <div class="advertisement">
      <div id="carbonads-container">
        <div class="carbonad">
          <div id="azcarbon"></div>
          <script type="text/javascript">var z = document.createElement("script"); z.type = "text/javascript"; z.async = true; z.src = "http://engine.carbonads.com/z/51619/azcarbon_2_1_0_VERTDARK"; var s = document.getElementsByTagName("script")[0]; s.parentNode.insertBefore(z, s);</script>
        </div>
      </div>
    </div>
<p>Free, you can get advices from cool friends all over world.</p>

</div>







<!-- プライスリスト -->
<!-- デスクトップにダウンロード済みのFreeのテーブルから（http://wegraphics.net/downloads/free-responsive-pricing-table/） -->

<section id="pricePlans">
		<ul id="plans">
			<li class="plan">
				<ul class="planContainer">
					<li class="title"><h2>Stylist</h2></li>
					<li class="price"><p>Free</p></li>
					<li>
						<ul class="options">
							<li>2x <span>option 1</span></li>
							<li>Free <span>option 2</span></li>
							<li>Unlimited <span>option 3</span></li>
							<li>Unlimited <span>option 4</span></li>
							<li>1x <span>option 5</span></li>
						</ul>
					</li>
					<li class="button"><a href="#">Purchase</a></li>
				</ul>
			</li>

			<li class="plan">
				<ul class="planContainer">
					<li class="title"><h2 class="bestPlanTitle">Stylist-Plus</h2></li>
					<li class="price"><p class="bestPlanPrice">$20/month</p></li>
					<li>
						<ul class="options">
							<li>2x <span>option 1</span></li>
							<li>Free <span>option 2</span></li>
							<li>Unlimited <span>option 3</span></li>
							<li>Unlimited <span>option 4</span></li>
							<li>1x <span>option 5</span></li>
						</ul>
					</li>
					<li class="button"><a class="bestPlanButton" href="#">Purchase</a></li>
				</ul>
			</li>

			<li class="plan">
				<ul class="planContainer">
					<li class="title"><h2>Stylist-Premium</h2></li>
					<li class="price"><p>$30/<span>month</span></p></li>
					<li>
						<ul class="options">
							<li>2x <span>option 1</span></li>
							<li>Free <span>option 2</span></li>
							<li>Unlimited <span>option 3</span></li>
							<li>Unlimited <span>option 4</span></li>
							<li>1x <span>option 5</span></li>
						</ul>
					</li>
					<li class="button"><a href="#">Purchase</a></li>
				</ul>
			</li>
		</ul> <!-- End ul#plans -->
		<div id="credits">by <a href="http://wegraphics.net/">WeGraphics</a></div>
	</section>

<!-- スタイリストサインイン 選んだコースによって、（上のボタンで）出てくるフォームがかわる。）-->
<h2>Become a stylist! or Upgrade a stylist status!</h2>
<div class="container-fluid">

  ログイン済みのユーザーなら、Edit　profileが出てくる。
  ・You hava already account and use it?
  <!-- ステップ -->
            <div class="ui four steps">
              <div class="ui active step">
                Sign up
              </div>
              <div class="ui active step">
                Check "Stylist"
              </div>
              <div class="ui disabled step">
                Confirm Order
              </div>
              <div class="ui disabled step">
                Complete
              </div>
            </div>

  ログイン前のユーザーならログインフォーム(Signup)が出てくる。
  ・You need to make account first, and go to edit profile page, and check stylist.

  <!-- ステップ -->
            <div class="ui four steps">
              <div class="ui disabled step">
                Sign up
              </div>
              <div class="ui disabled step">
                Check "Stylist"
              </div>
              <div class="ui disabled step">
                Confirm Order
              </div>
              <div class="ui disabled step">
                Complete
              </div>
            </div>
  </div>


<!-- よくある質問コーナー -->
<h2>FAQ</h2>
<div class="ui top attached segment">
  <p>This segment is on top</p>
</div>
<div class="ui attached segment">
  <p>This segment is attached on both sides</p>
</div>
<div class="ui bottom attached segment">
  <p>This segment is on bottom</p>
</div>




<h2>Need more info? contact us.</h2>
  <p>There is the way for company to promote your own brands items!</p>
