<title>ご利用に際して | Stylatte</title>　　

<!-- Folder; static_pages, File; terms.ja.html.erb -->　

<!--............Copyright.................　　
Copyright 2016, Stylatte.
.....................-->

<!--*******SUMARRY OF THIS FILE***************

[1]
[2]

**************************-->
