<% provide(:title, "Terms") %>
<!-- Folder; static_pages, File; terms.en.html.erb -->　

<!--............Copyright.................　　
Copyright 2016, Stylatte.
.....................-->

<!--*******SUMARRY OF THIS FILE***************

[1]
[2]

**************************-->
<h1>For Free, you can get advices from cool friends all over world.</h1>
