ランディングページ＞＞


<div class="ui two column stackable grid">

  <div class="eight wide column">
    <h2>Posts</h2>
    公開一覧ポスト
  </div>

  <div class="eight wide column">
    <h2>Stylings</h2>
    公開一覧コメント
  </div>

  なにか押したら、sessions/new〜ログインページ〜かusers/new〜サインアップページ〜に移る。（できたらHoverで出てくるようにする。）

</div>
