<% provide(:title, "Forgot password") %>
<h1>Please enter your email address.</h1>

<div class="ui form">

    <%= form_for(:password_reset, url: password_resets_path) do |f| %>

    <div class="field">
      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control', placeholder: "joe@schmoe.com"  %>
    </div>

      <%= f.submit "Submit", class: "ui submit button" %>

    <% end %>

</div>
