<h1>わたしがfavoriteしたコメントの一覧</h1>

  <% @user.favorite_scomments.each do |scomment| %>
<div class="ui card">
    <%= scomment.content %>
    <%= link_to scomment.user.name, scomment.user %>
</div>
  <% end %>
