＞＞users/_userページはじまり。

<div class="ui card">
  <div class="userimg">
    <div class="image">
      <%= gravatar_for user, size: 50 %>
    </div>
    <p><%= link_to user.name, user %></p>
  </div>

  <% if user.stylist? %>
    <button class="ui red basic button">
      <i class="book icon"></i>
      <%= link_to "StylingBook", user %>
    </button>
  <% end %>

  <% if current_user.admin? && !current_user?(user) %>
  <button class="ui basic button">
  <i class="remove user icon"></i>
     <%= link_to "UnFollow", user, method: :delete, data: { confirm: "Really unfollow this user?" } %>
  <% end %>
</button>

</div>
