＞＞users/showページはじまり。
だれからもユーザーを探すをしたら見れるページ。

<!-- ユーザーの自己紹介 -->
  <%= gravatar_for @user %>
  <%= @user.name %>
<!-- フォロー、アンフォローボタン -->
  <%= render 'follow_form' if logged_in? %>

<!-- ユーザーがスタイリストの場合、スタイリングブックをみせる。 -->
  <% if @user.stylist? %>
  <h2>This is My StylingBook!</h2>
  #
  <% end %>

<!-- ポストを公開している場合、一覧を見せる。 -->
    <ol class="posts">
      <%= render @posts %>
    </ol>
