<p>My Favorite Comments</p>
<table>
  <thead>
    <tr>
      <th>お気に入り内容</th>
    </tr>
  </thead>
  <tbody>
    <% @user.scomments.each do |scomment| %>
    <tr>
      <td><%= scomment.content %></td>
    </tr>
    <% end %>
  </tbody>
</table>
