<div class="ui segment">
＞＞shared/_ratingページスタート
<p>My Rating Comments</p>
<table>
  <tbody>
    <% @user.scomments.each do |scomment| %>
    <tr>
      <td><%= scomment.content %></td>
      <td><%= link_to scomment.user.name, scomment.user %></td>
      <td><button type="button" class="btn btn-default"><%= link_to "UnRating",rating_path, method: :delete, data: { confirm: 'Really delete?' } %></button></td>
    </tr>
    <% end %>
  </tbody>
</table>
</div>
