<div class="card">
  <img class="card-img-top" src="..." alt="Card image cap">
  <%= link_to gravatar_for(current_user, size: 50), current_user %>
  <div class="card-block">
    <h4 class="card-title"><%= current_user.name %></h4>
    <p class="card-text"><%= link_to "view my profile", current_user %></p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
