<h4 class="card-title"><%= current_user.name %></h4>
<%= link_to gravatar_for(current_user, size: 100), current_user %>
<button type="button" class="btn btn-default">
  <%= link_to "Edit profile", edit_user_path(current_user) %>
</button>
