<%= link_to rating_path(current_user.ratings.find_by(scomment_id: scomment.id)), remote: true, method: :get, class: 'rating-link', data: { confirm: "You sure?" } do %>
  <i class="big star icon"></i>
<% end %>



<!-- 本当は、<div class="ui rating" data-max-rating="1"></div>の、そして、、read-onlyの星に変える。 -->
