.userimg{
    position:relative;
    width:300px;
}
.userimg span{
    position:absolute;
    bottom:1px;
    right:1px;
    width:100px;
}

body {
    margin: 1px;
    padding: 40px;
    overflow-x: hidden;
    min-width: 320px;
    background: #FFFFFF;
    font-family: 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 1.4285em;
    color: rgba(0, 0, 0, 0.87);
    font-smoothing: antialiased;
}

/*******************************
            Accordion(acod)
*******************************/


input[type="checkbox"].on-off{
    display: none;
}

.acodmenu ul {
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    margin: 0;
    padding: 0;
    list-style: none;
}

.acodmenu li {
    padding: 5px;
}

input[type="checkbox"].on-off + ul{
    height: 0;
    overflow: hidden;
}

input[type="checkbox"].on-off:checked + ul{
    height: 200px;
}
