@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}
// ユーザーカード

.card {
  border: 1px solid #e8e8e8;
  margin: 10px 10px 10px 10px;
  padding: 10px;
}
.card-block {
  border: 1px solid #e8e8e8;
  margin: 1px 3px 20px 3px;
  padding: 20px;
}
.card-title {
  font-size: 1.4em;
  font-family: 'Roboto', sans-serif;
}

/* forms */

legend {
  border-bottom: 1px solid #2EE59D;
  font-size: 1.4em;
  font-family: 'Roboto', sans-serif;
}

radio {
  color: #2EE59D;
}
input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

/* sidebar */

aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      font-family: 'Roboto', sans-serif;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
  border-radius: 50%;
}

.gravatar_edit {
  margin-top: 15px;
  margin-bottom: 50px;
}

.stats {
  overflow: auto;
  margin-top: 0;
  padding: 0;
  a {
    float: left;
    padding: 0 10px;
    border-left: 1px solid $gray-lighter;
    color: gray;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover {
      text-decoration: none;
      color: #2EE59D;
    }
  }
  strong {
    display: block;
  }
}

.user_avatars {
  overflow: auto;
  margin-top: 10px;
  .gravatar {
    margin: 1px 1px;
  }
  a {
    padding: 0;
  }
}

.users.follow {
  padding: 0;
}
/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}


/* universal */

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
}

p {
  font-family: 'Roboto', sans-serif;
  font-size: 1.1em;
  line-height: 1.7em;
}


/* header */

#mainNav {
  color: black;
  background-color: white;
}

#logo {
  float: left;
  margin-right: 10px;
  font-family: 'Roboto', sans-serif;
  font-size: 1.7em;
  color: black;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
    color: #2EE59D;
    text-decoration: none;
  }
}
// home画面
.intro {
  display: table;
  width: 100%;
  height: auto;
  padding: 100px 0;
  text-align: center;
  color: white;
  background: url(RONyPwknRQOO3ag4xf3R_Kinsey.jpg) no-repeat bottom center scroll;
  background-size: cover;
}
.intro .intro-body {
  display: table-cell;
  vertical-align: middle;
}
.intro .intro-body .brand-heading {
  font-size: 40px;
  font-family: 'Roboto', sans-serif;
}
.intro .intro-body .intro-text {
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $gray-medium-light;
  color: $gray-light;
  a {
    color: $gray;
    &:hover {
      color: $gray-darker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}

/* Users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}

/* posts */

.posts {
  list-style: none;
  padding: 0;
  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
  .user {
    margin-top: 5em;
    padding-top: 0;
  }
  .content {
    display: block;
    margin-left: 60px;
    img {
      display: block;
      padding: 5px 0;
    }
  }
  .timestamp {
    color: $gray-light;
    display: block;
    margin-left: 60px;
  }
  .gravatar {
    float: left;
    margin-right: 10px;
    margin-top: 5px;
  }
}

aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

span.picture {
  margin-top: 10px;
  input {
    border: 0;
  }
}

/*http://photoshopvip.net/91115のButton Shadowより
ボタンbuttonはbutton1に名前変えています。*/

/* Links */
html, body {
  height: 100%;
}

.wrap {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

// ボタン類


.button1 {
  width: 250px;
  height: 45px;
  font-family: 'Roboto', sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  }
.button1:hover {
  background-color: #2EE59D;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff;
  transform: translateY(-7px);
}


//ボタン3
/* Mixins */
@mixin gradientBg($startColor, $endColor) {
    background: $startColor;
    background: -moz-linear-gradient(left,  $startColor 0%, $endColor 80%,$endColor 100%);
    background: -webkit-linear-gradient(left,  $startColor 0%, $endColor 80%,$endColor 100%);
    background: linear-gradient(to right,  $startColor 0%, $endColor 80%,$endColor 100%);
}



// priceリスト

table {
    width: 85%;
    border-bottom: 1px solid #ddd;
    margin-bottom: 15px;
    overflow-y: hidden;
    overflow-x: scroll;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    border: 1px solid #ddd;
    -webkit-overflow-scrolling: touch;
}
th, td {
    padding: 20px;
    text-align: center;
    vertical-align: top;
    border-top: 1px solid #ddd;
    border-right: 1px solid #ddd;
}
tr:nth-child(even)>td,
tr:nth-child(even)>th {
    background-color: pink;
}
th,
.plan-price {
    color: #fff;
    font-size: 5rem;
}

.plan-price {
    font-size: 5rem;
    border-top: 1px solid rgba(255,255,255,.2);
    padding: 25px 0;
}
.plan-price span {
    font-size: 3rem;
}

/* Background colour */
.plan-free th,
.plan-free .plan-price {
    background: #aaf4d7;
}
.plan-plus th,
.plan-plus .plan-price {
    background: linear-gradient(-90deg, #2EE59D, #aaf4d7);
}
.plan-premium th,
.plan-premium .plan-price {
    background: #2EE59D;
}


.wrapper {
    margin: 5% auto;
    text-align: center;
}
a {
    text-decoration: none;

    &:hover,
    &:focus,
    &:active {
      text-decoration: none;
  }
}

.scomment-index {
  border-top: 1px solid rgba(255,255,255,.2);
  font-size: 1.0em;
  font-family: 'Roboto', sans-serif;
  text-align: center;

}
