/*******************************

*******************************/


/*******************************
            body
*******************************/

body {
    margin-top: 60px;
    margin-right: 1px;
    margin-bottom: 1px;
    margin-left: 1px;
    padding: 40px;
    overflow-x: hidden;
    min-width: 320px;
    background: #FFFFFF;
    font-family: 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 1.4285em;
    color: rgba(0, 0, 0, 0.87);
    font-smoothing: antialiased;
}

/*******************************
            Accordion(acod)
*******************************/

// アコーディオンの押すところ
input[type="checkbox"].on-off{
    display: none;
}

.acodmenu ul {
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    margin: 0;
    padding: 0;
    list-style: none;
}

.acodmenu li {
    padding: 5px;
}

// アコーディオン閉めるところ
input[type="checkbox"].on-off + ul{
    height: 0;
    overflow: hidden;
}

input[type="checkbox"].on-off:checked + ul{
    height: 700px;
}

/*******************************
            paizer(Menuバー)
*******************************/

@media (max-width: 768px) {
  body {
    margin-top: 50px;
  }
}

.paradeiser {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 50px;
  background: rgba(255, 255, 255, 0.95);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.02), 0 2px 10px 0 rgba(0, 0, 0, 0.1);
  -webkit-transition: top 0.4s ease;
          transition: top 0.4s ease;
  -webkit-backdrop-filter: blur(10px) saturate(100%);
  backdrop-filter: blur(10px) saturate(100%);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.paradeiser.headroom--pinned {
  top: 0;
}
.paradeiser.headroom--unpinned {
  top: -50px;
}
@media (min-width: 768px) {
  .paradeiser.headroom--unpinned {
    top: -60px;
  }
}
@media (min-width: 768px) {
  .paradeiser {
    height: 60px;
  }
}
.paradeiser a, .paradeiser .paradeiser_dropdown {
  position: relative;
  z-index: 5;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0;
  padding: 0;
  color: #9b9b9b;
  text-align: center;
  text-decoration: none;
  font-weight: 400;
  font-size: 10px;
  font-family: -apple-system, -apple-system-body, "Roboto", "Helvetica Neue", "Segoe UI", "Arial", sans-serif;
  cursor: pointer;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 5;
  -webkit-flex-grow: 5;
      -ms-flex-positive: 5;
          flex-grow: 5;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (min-width: 768px) {
  .paradeiser a, .paradeiser .paradeiser_dropdown {
    font-size: 13px;
  }
}
.paradeiser a.active, .paradeiser a:hover, .paradeiser .paradeiser_dropdown.active, .paradeiser .paradeiser_dropdown:hover {
  background: #eaf6fa;
}
.paradeiser .paradeiser_icon_canvas {
  display: block;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  width: 100%;
  height: 20px;
  color: #000;
  text-align: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.paradeiser .paradeiser_icon_canvas img {
  display: block;
  margin: 0;
  max-width: 20px;
  width: 100%;
  height: auto;
}
.paradeiser span {
  margin-top: 5px;
  font-size: 10px;
}
@media (min-width: 768px) {
  .paradeiser span {
    font-size: 13px;
  }
}
.paradeiser span.paradeiser_dropdown {
  margin-top: 0;
}
.paradeiser span.paradeiser_dropdown > a {
  width: 100%;
}
.paradeiser .paradeiser_logo {
  max-width: 40px;
  width: 100%;
}
.paradeiser ul {
  position: fixed;
  top: 50px;
  bottom: 0;
  left: 0;
  z-index: 998;
  visibility: hidden;
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto;
  text-align: center;
  opacity: 0;
  -webkit-transition: opacity 0.4s;
          transition: opacity 0.4s;
  pointer-events: none;
}
@media (min-width: 768px) {
  .paradeiser ul {
    top: 60px;
  }
}
.paradeiser ul:target, .paradeiser ul.open {
  visibility: visible;
  opacity: 1;
  -webkit-transition: opacity 0.4s;
          transition: opacity 0.4s;
  pointer-events: auto;
}
// ドロップダウンの開いたところ
.paradeiser ul li {
  display: inline-block;
  width: 100%;
  background: white;
  text-align: center;
}
// 文字
.paradeiser ul li a {
  display: inline-block;
  padding: 15px 0;
  width: 100%;
  color: #575757;
  font-size: 15px;
}
// ポインターを乗せたとき
.paradeiser ul li a:hover, .paradeiser ul li span:hover {
  background: rgba(#575757, 0.15);
}
.paradeiser ul li:last-child {
  height: 100%;
  background: transparent;
}
// 背景
.paradeiser ul li:last-child a {
  display: block;
  height: 100%;
  background: rgba(0, 0, 0, 0.28);
  backdrop-filter: blur(10px) saturate(100%);
}

@media (max-width: 760px) {
  .paradeiser-hidden-phone {
    display: none !important;
  }
}

@media (min-width: 761px) and (max-width: 1025px) {
  .paradeiser-hidden-tablet {
    display: none !important;
  }
}

@media (min-width: 1026px) {
  .paradeiser-hidden-desktop {
    display: none !important;
  }
}

/*******************************
            Mapなど(iframe)をリスポンシブにする。
*******************************/

/* iframe要素内でサイズ指定している場合は必要なし */
.iframe {
  width: 560px;
  height: 315px;
}
/* CSSでレスポンシブ対応 */
@media screen and (max-width: 560px) {
  .iframe-wrapper {
    position: relative;
    width: 100%;
    padding: calc(315 / 560 * 100%) 0 0;
  }
  .iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}


/*******************************
            Price List(static_pages/styliststart)
*******************************/

#plans,#plans ul,#plans ul li {
	margin: 0;
	padding: 0;
	list-style: none;
}

#pricePlans:after {
	content: '';
	display: table;
	clear: both;
}

#pricePlans {
	zoom: 1;
}

#pricePlans {
	max-width: 69em;
	margin: 0 auto;
}

#pricePlans #plans .plan {
	background: #fff;
	float: left;
	width: 100%;
	text-align: center;
	border-radius: 5px;
	margin: 0 0 20px 0;

	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.1);
	box-shadow: 0 1px 3px rgba(0,0,0,0.1);
}

.planContainer .title h2 {
	font-size: 2.125em;
	font-weight: 300;
	color: #3e4f6a;
	margin: 0;
	padding: .6em 0;
}

.planContainer .title h2.bestPlanTitle {
	background: #3e4f6a;

	background: -webkit-linear-gradient(top, #475975, #364761);
	background: -moz-linear-gradient(top, #475975, #364761);
	background: -o-linear-gradient(top, #475975, #364761);
	background: -ms-linear-gradient(top, #475975, #364761);
	background: linear-gradient(top, #475975, #364761);
	color: #fff;
	border-radius: 5px 5px 0 0;
}


.planContainer .price p {
	background: #3e4f6a;

	background: -webkit-linear-gradient(top, #475975, #364761);
	background: -moz-linear-gradient(top, #475975, #364761);
	background: -o-linear-gradient(top, #475975, #364761);
	background: -ms-linear-gradient(top, #475975, #364761);
	background: linear-gradient(top, #475975, #364761);
	color: #fff;
	font-size: 1.2em;
	font-weight: 700;
	height: 2.6em;
	line-height: 2.6em;
	margin: 0 0 1em;
}

.planContainer .price p.bestPlanPrice {
	background: #f7814d;
}

.planContainer .price p span {
	color: #8394ae;
}

.planContainer .options {
	margin-top: 10em;
}

.planContainer .options li {
	font-weight: 700;
	color: #364762;
	line-height: 2.5;
}

.planContainer .options li span {
	font-weight: 400;
	color: #979797;
}

.planContainer .button a {
	text-transform: uppercase;
	text-decoration: none;
	color: #3e4f6a;
	font-weight: 700;
	letter-spacing: 3px;
	line-height: 2.8em;
	border: 2px solid #3e4f6a;
	display: inline-block;
	width: 80%;
	height: 2.8em;
	border-radius: 4px;
	margin: 1.5em 0 1.8em;
}

.planContainer .button a.bestPlanButton {
	color: #fff;
	background: #f7814d;
	border: 2px solid #f7814d;
}

#credits {
	text-align: center;
	font-size: .8em;
	font-style: italic;
	color: #777;
}

#credits a {
	color: #333;
}

#credits a:hover {
	text-decoration: none;
}

@media screen and (min-width: 481px) and (max-width: 768px) {

#pricePlans #plans .plan {
	width: 49%;
	margin: 0 2% 20px 0;
}

#pricePlans #plans > li:nth-child(2n) {
	margin-right: 0;
}

}

@media screen and (min-width: 769px) and (max-width: 1024px) {

#pricePlans #plans .plan {
	width: 49%;
	margin: 0 2% 20px 0;
}

#pricePlans #plans > li:nth-child(2n) {
	margin-right: 0;
}

}

@media screen and (min-width: 1025px) {

#pricePlans {
	margin: 2em auto;
}

#pricePlans #plans .plan {
	width: 24%;
	margin: 0 1.33% 20px 0;

	-webkit-transition: all .25s;
	   -moz-transition: all .25s;
	    -ms-transition: all .25s;
	     -o-transition: all .25s;
	        transition: all .25s;
}

#pricePlans #plans > li:last-child {
	margin-right: 0;
}

#pricePlans #plans .plan:hover {
	-webkit-transform: scale(1.04);
	   -moz-transform: scale(1.04);
	    -ms-transform: scale(1.04);
	     -o-transform: scale(1.04);
	        transform: scale(1.04);
}

.planContainer .button a {
	-webkit-transition: all .25s;
	   -moz-transition: all .25s;
	    -ms-transition: all .25s;
	     -o-transition: all .25s;
	        transition: all .25s;
}

.planContainer .button a:hover {
	background: #3e4f6a;
	color: #fff;
}

.planContainer .button a.bestPlanButton:hover {
	background: #ff9c70;
	border: 2px solid #ff9c70;
}


}
